<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BMCoreFramework.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CoreDocument.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CoreFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E717776C19EBB3C700F32BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E717777119EBB86600F32BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E77C8D7D19E627060086609D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E77C8D8819E627060086609D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7CF6CAA19E6B25B0000E189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
